/* You can add global styles to this file, and also import other style files */
$bgColor: #f2f2f2;
$in_progress: #007bff;
$completed: #28a745;
$not_started: #dc3545;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Akkurat Pro",sans-serif;
    font-size: 10px;
}

body {
    background-color: $bgColor !important;
}